<br />

<div class="booyah-box-courses col-10 offset-1">
  <div class="frosty">
    <div class="header">
      <h1 class="text-center">Learn Something Today</h1>
    </div>
    <hr />

    <% @courses.each do |course| %>
      <div class="title">
        <h3><%= link_to course.title, course_path(course) %></h3>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-8 col-12">
          <div class="description">
            <%= course.description %>
          </div>
        </div>
        <div class="col-sm-4 col-12 text-center">
          <%= link_to 'More Details', course_path(course), class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <br class="clr" />
    <% end %>
  </div>
</div>