@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Laila');

$navyblue: #1f3345;
$salmon: #f98888;

.navbar {
  font-family: 'Laila', serif;
  font-weight: bold;
  background: image_url('folk-pattern.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #1f3345;
}

.nav-link{
  color: #1f3345!important;
}

.hero {
  background: image_url('wheat.png');
  height: 370px;
  margin-top: 20px;
  box-shadow: 0px 0px 8px 8px #061d24;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(31, 51, 69, 0.65);
  color: white;
}

.frosty h1 {
  font-family: 'Laila', serif;
  font-weight: 100;
  text-shadow: rgba(249, 136, 136, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Laila', serif;
  font-weight: 200;
  text-shadow: rgba(249, 136, 136, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #f98888;
}

body {
  background: image_url('folk-pattern.png');
  font-family: 'Laila', serif;
  font-weight: bold;
}

p {
  color: $navyblue;
  font-weight: bold;
}