@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Laila');

$navyblue: #1f3345;
$salmon: #f98888;

.navbar {
  font-family: 'Laila', serif;
  font-weight: bold;
  background: image_url('folk-pattern.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #1f3345;
}

.nav-link{
  color: #1f3345!important;
}

.hero {
  background: image_url('wheat.png');
  height: 370px;
  margin-top: 20px;
  box-shadow: 0px 0px 8px 8px #061d24;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h3 {
  font-weight: bold;
}

.frosty {
  background: rgba(31, 51, 69, 0.65);
  color: white;
}

.frosty h1 {
  color: white!important;
  font-family: 'Laila', serif;
  font-weight: 100;
  text-shadow: rgba(249, 136, 136, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #f98888;
}

body {
  background: image_url('folk-pattern.png');
  font-family: 'Laila', serif;
  font-weight: bold;
}

p {
  color: $navyblue;
  font-weight: bold;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: image_url('wheat.png');
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 50px;
  box-shadow: 0px 0px 8px 8px #061d24;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block {
  color: $salmon;
  background-color: $navyblue;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

ul {
  list-style-type: none;
}



