$navyblue: #1f3345;
$salmon: #f98888;

.title a {
  color: $salmon!important;
}

.description {
  color: white;
}

hr {
  background-color: $salmon;
}

.frosty {
  background: rgba(31, 51, 69, 0.65);
  padding: 50px;
}

.headerbutt {
  color: $navyblue;
  font-weight: bold;
  font-size: 30px;
}

.booyah-box-courses {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: image_url('wheat.png');
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 50px;
  box-shadow: 0px 0px 8px 8px #061d24;
}

.section-li {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 10px;
}

ul .header {
  font-size: 25px;
}

.lessons li {
  color: white; 
  background: $navyblue;
  margin: 10px;
  padding: 8px;
  font-size: 15px;
}

p {
  color: white!important;
}

.lessons li b {
  font-size: 25px;
}

.lessons li p {
  margin: 0;
}